<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="albumsPageStyle.css">

</head>
<body>

<div class="topnav">

    <a class="active" href="/">Home</a>

    <a href="/albums">Albums</a>

    <a href="/addAlbum">Add Album</a>

    <a href="/songs">Songs</a>

</div>

<h1>Welcome to the Albums Page!</h1>
<h3>These are our Albums:</h3>

<div class="allCardsContainer">
    <div class="singleCardContainer" th:each="album : ${albums}">
        <img th:src= "${album.imageUrl}" alt="Album Image" style="width:100%">
    <div class="smallContainer" >
        <h5>Album Title: <span th:text=${album.title}></span> </h5>
        <p>Album artist: <span th:text=${album.artist}></span></p>
        <p>Album Song Count <span th:text=${album.songCount}></span></p>
        <p>Album Length <span th:text=${album.length}></span></p>
        <a th:href="@{|/albums/${album.id}|}">Show Details</a>


    <!--    th:src="@{/images/valayev.jpg}"-->

    </div>
    </div>
</div>



</body>
</html>